<ion-view>
    <ion-header-bar align-title="center" class="bar-positive">
    <button class="button button-icon icon ion-navicon" menu-toggle="left"></button>
        <h1 class="title">Search</h1>
    </ion-header-bar>

    <ion-content>
        <ion-refresher
            pulling-text="Pull to refresh..."
            on-refresh="fetchData()">
        </ion-refresher>
        <div class="loader" ng-if="!myHTML">
            <ion-spinner></ion-spinner>
        </div>

        <div class="row">

          <div class="col">
            <ion-list>
              <ion-item class="item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input id="searchInput"
                       name="searchInput"
                       type="text"
                       placeholder="Search"
                       ng-model="searchInput.value"
                       ng-change="search()"
                       autocapitalize="off"
                       autocorrect="off">
              </ion-item>
            </ion-list>
          </div>

        </div>

        <div class="content" ng-bind-html="myHTML">
        </div>

        <div class="row">

          <div class="col" style="width: 20%">
            <ion-list>
              <ion-item class="item-input item-select">
                <div class="input-label">Unit</div>
                <select ng-model="searchFilters.unit"
                        ng-change="search()">
                  <option value="" ng-checked="true">ALL</option>
                  <option ng--value="EACH">EACH</option>
                  <option ng-value="PACK">PACK</option>
                  <option ng-value="SETS">SETS</option>
                  <option ng-value="KIT">KIT</option>
                  <option ng-value="PADS">PADS</option>
                  <option ng-value="SETS">SETS</option>
                  <option ng-value="BAG">BAG</option>
                </select>
              </ion-item>

              <ion-item class="item-input item-select">
                <div class="input-label">GPM</div>
                <select ng-model="searchFilters.gpm"
                        ng-change="search(searchInput.value)">
                  <option value="" ng-checked="true">ANY</option>
                  <option ng-value="40">40%</option>
                  <option ng-value="45">45%</option>
                </select>
              </ion-item>

              <ion-checkbox type="checkbox"
                            ng-model="searchCategories.description"
                            ng-checked="true"
                            ng-change="search(searchInput.value)" />
                            Description</ion-checkbox>
              <ion-checkbox type="checkbox"
                            ng-model="searchCategories.upc"
                            ng-change="search(searchInput.value)" />
                            UPC #</ion-checkbox>
              <ion-checkbox type="checkbox"
                            ng-model="searchCategories.listprice"
                            ng-click="search(searchInput.value)" />
                            List Price</ion-checkbox>
            </ion-list>
          </div>

          <div class="col" style="width: 80%">
              <ion-list>
                  <div ng-repeat="searchResult in searchResults">
                    <ion-item>

                    <span ng-class="{'selected' : searchCategories.upc}">{{ searchResult.upc }}</span>
                    <span ng-class="{'selected' : searchFilters.unit}"><strong>{{ searchResult.unit }}</strong></span>
                    <span ng-class="{'selected' : searchCategories.description}">{{ searchResult.description }}</span>
                    <span ng-class="{'selected' : searchCategories.listprice}"><strong>{{ searchResult.listprice | currency : $ : '2' }}</strong></span>
                    <span ng-class="{'selected' : searchFilters.gpm}">{{ searchResult.gpm }}% GPM</span>

                    </ion-item>
                  </div>
            </ion-list>
          </div>

        </div>

    </ion-content>

</ion-view>
