<ion-side-menus enable-menu-with-back-views="true">
  <!-- Center content -->
  <ion-side-menu-content>
    <ion-nav-view name="viewContent"></ion-nav-view>
  </ion-side-menu-content>

  <!-- Left menu -->
  <ion-side-menu side="left" class="side-menu">

    <ion-header-bar align-title="left" class="bar-dark" ui-sref-active="active">
      <a menu-close class="title" ui-sref="app.home">
        Home
      </a>
    </ion-header-bar>

    <ion-content class="has-header">
      <div class="list">
        <a menu-close class="item item-icon-left" ui-sref-active="active" ui-sref="app.dashboard">
          Dashboard
        </a>
        <a menu-close class="item item-icon-left" ui-sref-active="active" ui-sref="app.accounts">
          Accounts
        </a>
        <a menu-close class="item item-icon-left" ui-sref-active="active" ui-sref="app.output">
          Output
        </a>
        <a menu-close class="item item-icon-left" ui-sref-active="active" ui-sref="app.information">
          Information
        </a>
        <a menu-close class="item item-icon-left" ui-sref-active="active" ui-sref="app.realateddocs">
          Related Documents
        </a>
        <a menu-close class="item item-icon-left" ui-sref-active="active" ui-sref="app.settings">
          Settings
        </a>
      </div>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
